each app, id in apps
  path = "/apps/" + id
  section.app(onclick="window.location.pathname = '" + path + "'")
    .row
      .medium-4.columns
        h1(title=app.name)
          a(href=path)= app.name
        pre.appid= id
        
      .medium-8.columns
        ul.ports
          for port in app.ports
            li
              i.green.fa.fa-dot-circle-o
              span.port= port.port
              span.protocol= port.protocol
              
              unless empty(port.details)
                ul.details
                  for value, name in port.details
                    li
                      span.name= name
                      span.value= value
    .actions

      if app.removable
          
        form.right(action="/apps/#{id}", method='POST', title="remove")
          input(type='hidden', name='_method', value='DELETE')
          button.tiny.alert(type='submit')
            i.fa.fa-trash-o
            | &nbsp;

      if app.redeployable

        form.right(action="/apps/#{id}/redeploy", method='POST', title="redeploy")
          input(type='hidden', name='_method', value='PUT')
          button.tiny.success(type='submit')
            i.fa.fa-refresh
            | &nbsp;