!!!
html
  head
    meta(charset='utf-8')
     
    link(rel='stylesheet', href='//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='/css/app.css')
    
    script(type='text/javascript', src='//cdn.jsdelivr.net/foundation/5.0.2/js/jquery.js')
    
  body(class=empty(layout) ? '' : layout)
    nav.top-bar
      ul.title-area
        li.name
          h1
            a(href='/')
              i.fa.fa-cogs
              span.name
                span.first reka
                span.second ui
              
      section.top-bar-section
        ul
          each details, name in menu
            li(class=request.path == details.path ? 'active' : '')
              a(href=details.path)
                if details.icon != null
                  i.fa(class=details.icon)
                = details.title
        ul.right
          each details, name in utilmenu
            li(class=request.path == details.path ? 'active' : '')
              a(href=details.path)
                if details.icon != null
                  i.fa(class=details.icon)
                = details.title
                
    section.main
      .row
        if layout == 'wide'
          .medium-12.columns
            != html.main  
        else  
          if empty(html.sidebar)
            .medium-8.medium-offset-1.columns
              != html.main
          else
            .medium-7.medium-offset-1.columns.main
              != html.main
            .medium-4.columns.sidebar
              .panel
                != html.sidebar
                
    footer
    
    script(type='text/javascript', src='//cdn.jsdelivr.net/foundation/5.0.2/js/foundation.min.js')