.app-detail

  h1= app.name
  pre.appid= id

  if app.removable

    form.right(action="/apps/#{id}", method='POST')
      input(type='hidden', name='_method', value='DELETE')
      button.tiny.alert(type='submit')
        i.fa.fa-trash-o
        | remove
        
  if app.redeployable

    form.right(action="/apps/#{id}/redeploy", method='POST')
      input(type='hidden', name='_method', value='PUT')
      button.tiny.success(type='submit')
        i.fa.fa-refresh
        | redeploy

  section.detail  
    h2 network
    
    ul.ports
      for port in app.ports
        li
          i.green.fa.fa-dot-circle-o
          
          span.port= port.port
          span.protocol= port.protocol
          
          unless empty(port.details)
                
            ul.details
              for value, name in port.details
                li
                  span.name= name
                  span.value= value
            
            if port.url
              a.right(href=port.url, target='_blank')
                | visit&nbsp;
                strong= port.details.host
                | &nbsp;
                i.fa.fa-long-arrow-right
  
  section.detail
    h2 flows
    section.flows.row
      each flow in app.flows
        .flow(id="flow-#{flow}")
          h3= flow
          a(href="/apps/#{id}/flows/#{flow}")
            img.vis(src="/apps/#{id}/flows/#{flow}.svg")
      
    
  
  section.detail
    h2 data
    pre.json!= app
